@import url('header.css');

.containerCadastro {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.containerCadastro {
    margin: 20px;
}

#registerForm {
    display: flex;
    flex-direction: column;
}

#loginTela {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#loginTela button {
    width: 150px;
    height: 40px;
    font-size: 1rem;
    background-color: #42b883;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#loginTela input {
    background: #bababa65;
    width: 300px;
    height: 40px;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    background: #85e6ba8a;
    border-radius: 5px;
    padding: 10px;
}