<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>🎼Ruydo - A sua loja de discos!</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../style/cart.css">
        <script type="module" src="../script/cart.js"></script>
    </head>

    <body id="body">
        <header>
            <h1 id="mainLogo"><a href="index.html">Ruydo🎼</a></h1>
            <div id="menuContainer">
                <div id="menu">
                    <label>|||</label>
                    <div id="container">
                        <div id="homePage"><a href="index.html">Início</a></div>
                        <div><a id="offers">Promoções</a></div>
                    </div>
                </div>
            </div>
        </header>

        <div id="cartContainer">
            <div id="compras">
                <div id="products"></div>
            </div>

            <div id="emptyCart">Limpar Carrinho</div>

            <div id="buyingOptions">
                <div id="buyConfirmation">Confirmar Compra</div>
                <div id="keepBuying"><a href="index.html"> ⬅Continuar Comprando</a></div>
            </div>
        </div>
    </body>

</html>