<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>🎼Ruydo - A sua loja de discos!</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&amp;display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../style/product.css">
        <script type="module" src="../script/productPage.js"></script>
    </head>

    <body id="body">
        <header>
            <h1 id="mainLogo"><a href="index.html">Ruydo🎼</a></h1>
            <div id="menuContainer">
                <div id="menu">
                    <label>|||</label>
                    <div id="container">
                        <div id="homePage"><a href="index.html">Início</a></div>
                        <div><a id="offers">Promoções</a></div>
                    </div>
                </div>
            </div>
        </header>

        <div id="notification"></div>

        <div id="cart">
            <a href="cart.html">
                <img src="https://cdn-icons-png.flaticon.com/512/57/57451.png?w=360" alt="">
            </a>
        </div>

        <main>
            <div id="content">
                <h2 id="productName"></h2>
                <p id="productDescription"></p>
                <img id="productImage" alt="Product Image">
                <div id="buyContainer">
                    <p id="productPrice"></p>
                    <div><a id="buy">Comprar</a></div>
                    <div id="keepBuying"><a id="addCart" data-value="0">Adicionar ao carrinho</a></div>
                </div>
            </div>
        </main>
    </body>
</html>